<ul *ngFor="let article of articles">
    <li>{{article.designation}} : {{article.prix}} € </li>
</ul>

<p> Total : {{totalPrice}} €</p>

<form [formGroup]="article" (ngSubmit)="onSubmit()">
    <div class="designation">
        <label>Désignation</label>
        <input type="text" placeholer="article" formControlName="designation">
        <span *ngIf="submitted && !form['designation'].valid"> * Nom invalide </span>
    </div>
    <div class="prix">
        <label>Prix</label>
        <input type="number" formControlName="prix">
        <span *ngIf="submitted && !form['prix'].valid"> * Prix invalide </span>
    </div>
    <button type="submit">Ajouter</button>
</form>